{% extends "_base.html" %}

{% load static %}

{% block pagestyles %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="homepage-container" style="justify-content: space-between">
        <div id="name-div" class="name-container">
            <p class="name-text">Mark<br>Favorito</h1>
        </div>
        <div class="description-container">
            <h2 class="description-text">
            Data Scientist,<br>
            Geospatial Developer,<br>
            Trail Runner,</br>
            Road Cyclist</br>
            </h2>
        </div>
    </div>

{% endblock content %}
