.gallery-cell {

    height: 200px;
    background-color: var(--bulma-text-strong);
    color: var(--bulma-body-background-color);
    border-radius: 1rem;
    padding: 1rem;

}

.gallery-cell a {

    color: var(---bulma-body-background-color);

}

.gallery-cell div {

    font-size: small;
    vertical-align: middle;
}

.gallery-cell h4 {

    margin-bottom: 1rem;

}

.gallery-cell.columns {

    margin-bottom: 1rem;

}

.gallery-col {
    padding-bottom: 0.25rem;

}