.gallery-cell {

    height: 200px;
    background-color: var(--bulma-text-strong);
    color: var(--bulma-body-background-color);
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.gallery-cell-top {
    z-index: 1;
    position: relative; /* Set position to use z-index */
}

.gallery-cell a {

    color: var(---bulma-body-background-color);

}

.gallery-cell-top div {

    font-size: small;
    vertical-align: middle;
}

.gallery-cell h4 {

    margin-bottom: 1rem;

}

.gallery-cell.columns {

    margin-bottom: 1rem;

}

.gallery-col {
    padding-bottom: 0.25rem;

}

.gallery-cell-top {
    flex: 1;
}

.gallery-cell-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-cell-image {

    width: 128px;
    
}

/* Styles for the active state
.sort-btn.active {
    background-color: green;
    color: white;
    border: 1px solid green;
} */

/* Arrow pointing down for active state */
.sort-btn.active::after {
    content: '\25BC'; /* Unicode for down arrow */
    display: inline-block;
    margin-left: 5px; /* Adjust this for horizontal positioning */
    transform: translateX(5px) translateY(-1px); /* Adjust vertical and horizontal positioning */
}

.sort-btn.reverse::after {
    content: '\25B2'; /* Unicode for up arrow */
    display: inline-block;
    margin-left: 5px; /* Adjust this for horizontal positioning */
    transform: translateX(5px) translateY(-1px); /* Adjust vertical and horizontal positioning */
}

/* Highlight for active state */
.filter-btn.active {

    background-color: var(--bulma-text-strong);
    color: var(--bulma-body-background-color);

}
