.footer-container {
    display: flex;
    flex-shrink: 0;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.footer-list {

    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.75 rem;
    justify-content: center;

}

.footer-link {
    color: var(--bulma-body-color);
    font-weight: bold;
}


