html {
    line-height: 1.5;
}

.base-body {
    margin: 0;
    line-height: inherit;
    min-height: 100vh;
    height: 100vh;
    background-color: hsl(120, 50%, 90%);
}

.w-full {
    width: 100%
}

.card-wrapper {
    width: calc(100% / var(--n-row-cards));
}

.custom-height {
    height: 0; /* Initially set height to 0 */
}

.h-full {
    height: 100%
}