
html {
    line-height: 1.5;
}

.base-body {
    margin: 0;
    line-height: inherit;
    min-height: 100vh;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem; 
}

.main-content {
    margin-top: 1rem;
    overflow-y: auto;
    flex-grow: 1;
}


.w-full {
    width: 100%
}

.card-wrapper {
    width: calc(100% / var(--n-row-cards));
}

.custom-height {
    height: 0; /* Initially set height to 0 */
}

.h-full {
    height: 100%
}

.horizontal-list-center {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.75rem;
    justify-content: center;
}

.horizontal-list-start {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.75rem;
    justify-content: flex-start;
}

.horizontal-list-end {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.75rem;
    justify-content: flex-end;
}

.horizontal-list-center button,
.horizontal-list-start button,
.horizontal-list-end button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0.25rem;
    
}

.side-container {

    display: flex;
    flex-direction: row;

}

.gutter {

    display: flex;
    flex-shrink: 0;
    width: 10vw;
    margin-left: 1rem;

}

.middle {

    display: flex;
    flex-direction: column;
    width: 100%;

}

.statictop-container {

    margin-bottom: 1rem;
    min-height: 10vh;
    max-height: 30vh;

}

.content-container {

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: auto;
    max-height: 70vh;

}

.hero-link {

    color: var(--bulma-body-color);
    font-weight: bold;
    font-size: large;

}

h1 {
    
    font-size: 3rem;
    font-weight:700;

}

h2 {
    
    font-size: xx-large;
    font-weight:700;

}

h3 {
    
    font-size: large;
    font-weight:800;

}

h4 {

    font-weight:700;

}