.homepage-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.name-container {
    margin-bottom: 1rem;
}

.name-text {
    font-size: 8rem;
    line-height: 1;
}

.description-container {

    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 2;

}

.description-text {
    
    justify-content: flex-end;

}

