{% extends "_base_side.html" %}

{% load static %}
{% load heroicons %}

{% block pagestyles %}
    <link rel="stylesheet" href="{% static 'css/blog_gallery.css' %}">
    <script type=module src="{% static 'js/blog/_gallery.js' %}"></script>
{% endblock %}


{% block statictop %}
    <div class="mb-4">
        <h1>Blog Gallery</h1>
    </div>
    <ul class="horizontal-list-start">
            <li>Sort By</li>
            <li><a href="{% url 'blog:random' %}">Random Blog</a></li>
            <li><a href="{% url 'blog:a_blog' random_blog %}">Random Blog</a></li>
    </ul>
{% endblock statictop %}

{% block content %}
    <div>
    {% if blogs_date_desc %}
        <div class="grid is-col-min-10 mr-4" id="cell-container">
            {% for blog in blogs_date_desc %}
            <div class="cell gallery-cell" style="min-height: 400px">
                <div class="gallery-cell-top" style="flex: 1;">
                    <h4><a href="{% url 'blog:a_blog' blog.id %}">{{ blog.title }}</a></h4>

                    {% if blog.place %}
                    <div class="columns is-1 is-mobile">
                        <div class="column is-narrow gallery-col">
                            {% heroicon_micro "globe-americas" %}
                        </div>
                        <div class="column gallery-col">
                            <p class="is-flex" style="align-items: center;">
                                <span class="ml-2">{{blog.place}}</span>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if blog.music %}
                    <div class="columns is-1 is-mobile">
                        <div class="column is-narrow gallery-col">
                            {% heroicon_micro "musical-note" %}
                        </div>
                        <div class="column gallery-col">
                            <p class="is-flex" style="align-items: center;">
                                <span class="ml-2">{{blog.music}}</span>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if blog.display_date %}
                    <div class="columns is-1 is-mobile">
                        <div class="column is-narrow gallery-col gallery-col">
                            {% heroicon_micro "calendar-days" %}
                        </div>
                        <div class="column gallery-col">
                            <p class="is-flex" style="align-items: center;">
                                <span class="ml-2">{{blog.display_date}}</span>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if blog.category %}
                    <div class="columns is-1 is-mobile">
                        <div class="column is-narrow gallery-col">
                            {% heroicon_micro "folder-open" %}
                        </div>
                        <div class="column gallery-col">
                            <p class="is-flex" style="align-items: center;">
                                <span class="ml-2">{{blog.category.all|join:", "}}</span>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="gallery-cell-bottom" style="flex: 1">
                {% if blog.gallery_image %}
                    <figure class="image gallery-cell-image">
                        <img src = {{ blog.gallery_image.url }}/>
                    </figure>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Write something, will ya?!</p>
    {% endif %}
    </div>
{% endblock content %}
