{% extends "_base_side.html" %}

{% load static %}
{% load heroicons %}

{% block pagestyles %}
    <link rel="stylesheet" href="{% static 'css/blog_gallery.css' %}">
{% endblock %}


{% block statictop %}
    <div class="mb-4">
        <h1>Blog Gallery</h1>
    </div>
    <ul class="flex gap-5 md:mb-3 md:gap-8">
            <li>Sort By</li>
            <li>Random Blog</li>
    </ul>
{% endblock statictop %}

{% block content %}
    <div>
    {% if blogs_date_desc %}
        <div class="grid is-col-min-10">
            {% for blog in blogs_date_desc %}
            <div class="cell gallery-cell" style="min-height: 400px">
                <h4><a href="{% url 'blog:a_blog' blog.id %}">{{ blog.title }}</a></h4>

                {% if blog.place %}
                <div class="columns is-1 is-mobile">
                    <div class="column is-narrow gallery-col">
                        {% heroicon_micro "globe-americas" %}
                    </div>
                    <div class="column gallery-col">
                        <p class="is-flex" style="align-items: center;">
                            <span class="ml-2">{{blog.place}}</span>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% if blog.music %}
                <div class="columns is-1 is-mobile">
                    <div class="column is-narrow gallery-col">
                        {% heroicon_micro "musical-note" %}
                    </div>
                    <div class="column gallery-col">
                        <p class="is-flex" style="align-items: center;">
                            <span class="ml-2">{{blog.music}}</span>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% if blog.display_date %}
                <div class="columns is-1 is-mobile">
                    <div class="column is-narrow gallery-col gallery-col">
                        {% heroicon_micro "calendar-days" %}
                    </div>
                    <div class="column gallery-col">
                        <p class="is-flex" style="align-items: center;">
                            <span class="ml-2">{{blog.display_date}}</span>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% if blog.category %}
                <div class="columns is-1 is-mobile">
                    <div class="column is-narrow gallery-col">
                        {% heroicon_micro "folder-open" %}
                    </div>
                    <div class="column gallery-col">
                        <p class="is-flex" style="align-items: center;">
                            <span class="ml-2">{{blog.category.all|join:", "}}</span>
                        </p>
                    </div>
                </div>
                {% endif %}

                {% if blog.gallery_image %}
                <figure class="image is-128x128">
                    <img src = {{ blog.gallery_image.url }}/>
                </figure>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Write something, will ya?!</p>
    {% endif %}
    </div>
{% endblock content %}