@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-6xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    /* IMport custom font face */
    @font-face {
        font-family: 'JetBrainsMono-Med'; /* Name of the font family */
        src: url('/static/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2'); /* Path to the font file */
        /* Add additional font formats as needed (e.g., woff, woff2) */
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrainsMono-Med-It'; /* Name of the font family */
        src: url('/static/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2'); /* Path to the font file */
        /* Add additional font formats as needed (e.g., woff, woff2) */
        font-weight: normal;
        font-style: italic;
    }

    html {
      font-family: "JetBrainsMono", ui-monospace, monospace;
    }
  }