{% extends "_head.html" %}

{% block body %}
<body class="base-body">
    <div class="main-container">
        <div class="main-content">
            <div id="sidebar" class="side-container">
                <div class="gutter">
                    <h2>
                        M<br>
                        F
                    </h2>
                </div>

                <div class="middle">
                    <div class="is-flex-grow-1">
                        <div class="mb-4 statictop-container">
                            {% block statictop %}
                            {% endblock statictop %}
                        </div>
                    </div>
                    <div class="content-container">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>

                <div class="gutter">
                    <div class="is-flex-direction-column">
                        {% block rightside %}
                        {% endblock rightside %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
</body>
{% endblock %}
