{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>_Base</title>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'global.css' %}">

</head>

<body class="h-screen bg-green-50">
    <div class="flex flex-col h-full mx-4">
        <div class=" mt-4 main-content overflow-y-auto flex-grow">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="flex-shrink-0 h-10vh content-center">
            <ul class="flex gap-5 md:mb-3 md:gap-8">
                <li>About</li>
                <li><a href="/blog/">Blogs</a></li>
                <li><a href="/contact/contact/">Contact</li>
                <li>GitHub</li>
            </ul>
        </footer>
    </div>
</body>
