{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>_Base</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

</head>

<body class="h-screen bg-green-50">
    <div class="flex flex-col h-full mx-4">
        <div class=" mt-4 main-content flex-grow">
            <div id="sidebar" class="flex flex-row">
                <div class = "flex-shrink-0 w-10vw">
                    <h2>
                        M<br>
                        F
                    </h2>
                </div>

                <div class="flex flex-col" style="width: 100%">
                    <div class="flex-grow-1">
                        <div class="mb-4" style="min-height: 10vh; max-height: 20vh;">
                            {% block statictop %}
                            {% endblock statictop %}
                        </div>
                    </div>
                    <div class="flex-shrink-0 overflow-y-auto" style="max-height: 70vh;">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>

                <div class= "flex flex-shrink-0 w-10vw">
                    <div class="flex flex-col">
                        {% block rightside %}
                        {% endblock rightside %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
</body>
