{% load static %}

{% block pagestyles %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="footer-container flex-shrink-0 h-10vh content-center">
    <ul class="horizontal-list">
        <li><a class="footer-link" href="/about_me/">About</a></li>
        <li><a class="footer-link" href="/blog/">Blogs</a></li>
        <li><a class="footer-link" href="/contact/">Contact</a></li>
        <li><a class="footer-link" target="_blank" rel="noopener noreferrer" href="https://github.com/mfavorito1995">GitHub</a></li>
    </ul>
</footer>